nativity.dir=C:/Users/sync/Dev/streem/liferay-nativity
nativity.version=1.0.2
ms.sdk.7.1.dir=C:/Program Files/Microsoft SDKs/Windows/v7.1
framework.dir=C:/Windows/Microsoft.NET/Framework64/v4.0.30319

context.menu.guid={EBEDF891-A73A-4B35-91BB-57E3820C4BBC}
